<head>
</head>
<body>
  <ul class ="menu">
    
    <li>
  
      <div class="dropdown">
  
      <button class="dropbtn">Principi</button>
  
      <div class="dropdown-content">
  
  
        <a href="/#/PrincipiRead">Lista Principi</a>
        <a href="/#/PrincipiRandom">Principi random</a>
    
      </div>
  
      </div>
    </li>
  
    <li>
  
      <div class="dropdown" >
  
      <button class="dropbtn">Esperienze</button>
  
      <div class="dropdown-content">
        
        <a href="/#/AllExperience">Lista Esperienze</a>
  
      </div>
  
   
    </div>
  
    </li>
  
    <li>
  
      <div class="dropdown">
  
      <button class="dropbtn">Matrix</button>
  
      <div class="dropdown-content">
  
        <a href="/#/matrix">Show Matrix</a>
        <a href="/#/Parametri">Parametri</a>
  
      </div>
    </div>
   
    </li>
  
    <li>
        <div class="dropdown">
  
            <a href="/#/login" class="dropbtn">Logout</a>
        
          </div>
    </li>
    <form  #f="ngForm">
        <button class="dropbtnC">Cerca per parola chiave </button>
        <input type = "text"  name="pChiave" placeholder = "inserisci testo" [(ngModel)]="pChiave">
        <button style="margin-top:1%"  type="submit" (click)="cercaByParola(f)">Cerca</button>
     </form>
    
    
  
   
  
  </ul>
  <br>


 

  <div  class="table">
      <table>
          &nbsp;
          &nbsp; 
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp; 
          &nbsp;
          &nbsp;
        <td>
          <tr>
            <th>
    <img src="/assets/card/1front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=1)">
            </th>
    </tr>
    <tr>
        <th>
<img src="/assets/card/6front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=6)">
        </th>
</tr>
<tr>
    <th>
<img src="/assets/card/11front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=11)">
    </th>
</tr>
<tr>
    <th>
<img src="/assets/card/16front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=16)">
    </th>
</tr>
<tr>
    <th>
<img src="/assets/card/21front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=21)">
    </th>
</tr>
<tr>
    <th>
<img src="/assets/card/26front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=26)">
    </th>
</tr>
<tr>
    <th>
<img src="/assets/card/31front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=31)">
    </th>
</tr>
<tr>
    <th>
<img src="/assets/card/36front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=36)">
    </th>
</tr>
</td>

&nbsp;
&nbsp;
&nbsp;
    <td>
        <tr>
          <th>
  <img src="/assets/card/2front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=2)">
          </th>
  </tr>
  <tr>
      <th>
<img src="/assets/card/7front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=7)">
      </th>
</tr>
<tr>
  <th>
<img src="/assets/card/12front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=12)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/17front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=17)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/22front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=22)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/27front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=27)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/32front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=32)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/37front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=37)">
  </th>
</tr>

  </td>


  &nbsp;
  &nbsp;
&nbsp;
    <td>
        <tr>
          <th>
  <img src="/assets/card/3front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=3)">
          </th>
  </tr>
  <tr>
      <th>
<img src="/assets/card/8front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=8)">
      </th>
</tr>
<tr>
  <th>
<img src="/assets/card/13front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=13)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/18front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=18)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/23front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=23)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/28front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=28)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/33front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=33)">
  </th>
</tr>
<tr>
  <th>
<img src="/assets/card/38front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=38)">
  </th>
</tr>

  </td>

  &nbsp;
  &nbsp;
  &nbsp;
      <td>
          <tr>
            <th>
    <img src="/assets/card/4front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=4)">
            </th>
    </tr>
    <tr>
        <th>
  <img src="/assets/card/9front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=9)">
        </th>
  </tr>
  <tr>
    <th>
  <img src="/assets/card/14front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=14)">
    </th>
  </tr>
  <tr>
    <th>
  <img src="/assets/card/19front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=19)">
    </th>
  </tr>
  <tr>
    <th>
  <img src="/assets/card/24front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=24)">
    </th>
  </tr>
  <tr>
    <th>
  <img src="/assets/card/29front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=29)">
    </th>
  </tr>
  <tr>
    <th>
  <img src="/assets/card/34front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=34)">
    </th>
  </tr>
  <tr>
    <th>
  <img src="/assets/card/39front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=39)">
    </th>
  </tr>
    </td>

    &nbsp;
    &nbsp;
    &nbsp;
        <td>
            <tr>
              <th>
      <img src="/assets/card/5front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=5)">
              </th>
      </tr>
      <tr>
          <th>
    <img src="/assets/card/10front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=10)">
          </th>
    </tr>
    <tr>
      <th>
    <img src="/assets/card/15front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=15)">
      </th>
    </tr>
    <tr>
      <th>
    <img src="/assets/card/20front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=20)">
      </th>
    </tr>
    <tr>
      <th>
    <img src="/assets/card/25front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=25)">
      </th>
    </tr>
    <tr>
      <th>
    <img src="/assets/card/30front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=30)">
      </th>
    </tr>
    <tr>
      <th>
    <img src="/assets/card/35front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=35)">
      </th>
    </tr>
    <tr>
      <th>
    <img src="/assets/card/40front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=40)">
      </th>
    </tr>
    
      </td>
    </table>
    </div>

</body>