<body>

<h1>Matrice</h1>
		
		<div>
			
			<table>
			      <tr>
			        <th>Id</th>
			        <th>P1</th>
			        <th>P2</th>
							<th>P3</th>
							<th>P4</th>
							<th>P5</th>
							<th>P6</th>
							<th>P7</th>
							<th>P8</th>
							<th>P9</th>
							<th>P10</th>
							<th>P11</th>
							<th>P12</th>
							<th>P13</th>
							<th>P14</th>
							<th>P15</th>
							<th>P16</th>
							<th>P17</th>
							<th>P18</th>
							<th>P19</th>
							<th>P20</th>
							<th>P21</th>
							<th>P22</th>
							<th>P23</th>
							<th>P24</th>
							<th>P25</th>
							<th>P26</th>
							<th>P27</th>
							<th>P28</th>
							<th>P29</th>
							<th>P30</th>
							<th>P31</th>
							<th>P32</th>
							<th>P33</th>
							<th>P34</th>
							<th>P35</th>
							<th>P36</th>
							<th>P37</th>
							<th>P38</th>
							<th>P39</th>
			      </tr>
			    

			    	<tr *ngFor="let matrix of matrixList">			
							<td >{{matrix.id}}</td>
							<td >{{matrix.p1}}</td>	
							<td >{{matrix.p2}}</td>
							<td >{{matrix.p3}}</td>
							<td >{{matrix.P4}}</td>
							<td >{{matrix.p5}}</td>
							<td >{{matrix.p6}}</td>
							<td >{{matrix.p7}}</td>
							<td >{{matrix.p8}}</td>
							<td >{{matrix.p9}}</td>
							<td >{{matrix.p10}}</td>
							<td >{{matrix.p11}}</td>
							<td >{{matrix.p12}}</td>
							<td >{{matrix.p13}}</td>
							<td >{{matrix.p14}}</td>
							<td >{{matrix.p15}}</td>
							<td >{{matrix.p16}}</td>
							<td >{{matrix.p17}}</td>
							<td >{{matrix.p18}}</td>
							<td >{{matrix.p19}}</td>
							<td >{{matrix.p20}}</td>
							<td >{{matrix.p21}}</td>
							<td >{{matrix.p22}}</td>
							<td >{{matrix.p23}}</td>
							<td >{{matrix.p24}}</td>
							<td >{{matrix.p25}}</td>
							<td >{{matrix.p26}}</td>
							<td >{{matrix.p27}}</td>
							<td >{{matrix.p28}}</td>
							<td >{{matrix.p29}}</td>
							<td >{{matrix.p30}}</td>
							<td >{{matrix.p31}}</td>
							<td >{{matrix.p32}}</td>
							<td >{{matrix.p33}}</td>
							<td >{{matrix.p34}}</td>
							<td >{{matrix.p35}}</td>
							<td >{{matrix.p36}}</td>
							<td >{{matrix.p37}}</td>
							<td >{{matrix.P38}}</td>
							<td >{{matrix.p39}}</td>	
						</tr> 
			  
		  </table>
			
    </div>
    </body>