 <h1 class="title">Esperienze</h1>
          <div id="container">
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Numero Principio</th>
                    <th>Nome</th>
                    <th>Commento</th>
                    <th>Score</th>
                    <th>Principio</th>
                    <th>Esperienze</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let e of experienceList">
                    <td>{{e.idPrincipio}} </td>
                    <td>{{e.nomeUtente}} </td>
                    <td>{{e.commentoExperience}}</td>
                    <td>{{e.scoreExperience}}</td>
                  <img src="/assets/card/{{idPrincipi}}front.jpg" width="170" height="180"(dblclick)="selectLink(idPrincipi=Principio.idPrincipio)">
                  <img src="/assets/card/{{idExperience}}front.jpg" width="170" height="180"(dblclick)="selectLink(idExperience=feedback.idExperience)">
                </tr>
              </tbody>
            </table>
          </div>
