 <h1 class="title">Esperienze</h1>
          <div id="container">
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Principio</th>
                    <th>Nome</th>
                    <th>Commento</th>
                    <th>Score</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let e of experienceList">
                    <td>{{e.Principio.Nome}} </td>
                    <td>{{e.Nome}} </td>
                    <td>{{e.Commento}}</td>
                    <td>{{e.Score}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
