.titolo
{
   
    text-align: left;
	
	color: rgb(17, 17, 153);
   }

.esperienze
{
    background-image: url('/assets/images/Testa1.png');
    background-color: rgb(221, 221, 238);
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
   
   
    vertical-align:middle;
    text-align: center;
    caption-side: left;
   }

   .form-group
   
   {
       text-align: left;
        column-count: 2;
      
        column-gap: 30px;
      
        column-rule: 1px solid white;
    
   }
   .bottone {

    color: rgb(0, 162, 255); 
   
   }