
  <h1 class="element-margin-left">Ecco i feedback</h1>
  <body>	
  <table class="bordo rcorners" >	

    <tr>

  <th><h4>FEEDBACK</h4></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="feedback"></td></tr>

  

<tr>

     

      <th>

          ID FEEDBACK

      </th>

      <th>

      </th>


      <th>

         EXPERIENCE

      </th>

      <th>

      </th>


      <th>PRINCIPI

      

       </th>
       <th>

      </th>


       <th>ALTRI PRINCIPI

      </th>
  <th>

       </th>

      <th>IMMAGINE


      </th>

      <th>

       </th>



  </tr>



  <tr *ngFor="let f of feedback">	<!--inserisci router link dentro il tr-->

  <td>{{f.idfeedback}}</td>
  <th>

  </th>

  <td >{{f.idexperience}}</td>
  <th>

  </th>
  <td>{{f.idprincipi}}</td>
  <th>

  </th>
  <td>{{f.secondario}}</td>
  <th>

  </th>
  <td>{{f.idimagen}</td>

 

  </tr>
  

</table> 
  </body>



