<body>
<ul class ="menu">
    
    <li>
  
      <div class="dropdown">
  
      <button class="dropbtn">Principi</button>
  
      <div class="dropdown-content">
  
  
        <a href="/#/PrincipiRead">Lista Principi</a>
        <a href="/#/PrincipiRandom">Principi random</a>
    
      </div>
  
      </div>
    </li>
  
    <li>
  
      <div class="dropdown" >
  
      <button class="dropbtn">Esperienze</button>
  
      <div class="dropdown-content">
        
        <a href="/#/AllExperience">Lista Esperienze</a>
  
      </div>
  
   
    </div>
  
    </li>
  
    <li>
  
      <div class="dropdown">
  
      <button class="dropbtn">Matrix</button>
  
      <div class="dropdown-content">
  
        <a href="/#/matrix">Show Matrix</a>
        <a href="/#/Parametri">Parametri</a>
  
      </div>
    </div>
   
    </li>
  
    <li>
        <div class="dropdown">
  
            <a href="/#/login" class="dropbtn">Logout</a>
        
          </div>
    </li>
    <form  #f="ngForm">
        <button class="dropbtnC">Cerca per parola chiave </button>
        <input type = "text"  name="pChiave" placeholder = "inserisci testo" [(ngModel)]="pChiave">
        <button style="margin-top:1%"  type="submit" (click)="cercaByParola(f)">Cerca</button>
     </form>
    
    
  
   
  
  </ul>
<div class="sfondo">
<h1 class="element-margin-left">Altri principi utilizzati</h1>


  <table class="bordo rcorners">

  


    <tr>


     

      <th>

    

      </th>

     
     


    </tr>



    <tr>
      <tr *ngFor="let f of secondari" color ="blue">

      <td></td>
      
      <td></td>
      <th>
          <img src="data:image/jpg;base64,{{f.fronte}}" width="170" height="180">
      </th>
      
      
      



  </tr>
  

</table> 
</div>
</body>