<html>
	<head>
	
	
		<title>SelezionaPrincipio</title>
	</head>
	
	
	<body>
		
	<table>
	
	
	<tr><td><img src="/assets/card/{{principio.idPrincipi}}front.jpg"  width="400" height="500"></td><td>     

	<img src="/assets/card/{{principio.idPrincipi}}retro.jpg" width="400" height="500"></td></tr>    
	


	<!-- <tr><td>  
     <form action="/Experience/openInsertExperience" method="GET">
		<button type="submit" value="Indietro" name="richiesta">Indietro</button> 
	 <a href="/Experience/openInsertExperience?principio=<%=idprincipio%>">Insert Experience</a></td><td> 
	 
	</form></td></tr> -->
	
	</table>
	
	</body>
	</html>