<body>
<head>
  <title>Parametri</title>
</head>

<h1>Parametri</h1>

  <form #f= "ngForm">
  <div>
    <label> parametro da incrementare</label>
    <select [(ngModel)]="opcionSeleccionado1">
      <option value="0">Seleziona un parametro</option>
      <option *ngFor="let parametri of parametriList" (change)="onParamSelect1($event)" >{{parametri.nome}}</option>                                          
    </select>
    <p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion1 }}</p>
    
  </div>
  
    <div>
      <label> parametro da diminuire</label>
      <select [(ngModel)]="opcionSeleccionado2">
       <option value="0">Seleziona un parametro</option>
        <option *ngFor="let parametri of parametriList" (change)="onParamSelect1($event)" >{{parametri.nome}}</option>                                          
      </select>
      <p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion2 }}</p>
  
      <button  type="submit" (click)="insertParametro(f)">Insert</button>    
    </div>
    </form>
  

  <br>
  <br>
  <br>
  <br>
  
  
</body>